

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-568310918782387241.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-568310918782387241.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-568310918782387241.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-568310918782387241.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-568310918782387241.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-568310918782387241.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-568310918782387241.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-568310918782387241.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-568310918782387241.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-568310918782387241.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-568310918782387241.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-568310918782387241.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-568310918782387241.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-568310918782387241.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-568310918782387241.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-568310918782387241.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-568310918782387241.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-568310918782387241.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-568310918782387241.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-568310918782387241.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-568310918782387241.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-568310918782387241.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-568310918782387241.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-568310918782387241.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-568310918782387241.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-568310918782387241.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-568310918782387241.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-568310918782387241.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-568310918782387241.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-568310918782387241.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-568310918782387241.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-568310918782387241.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-568310918782387241.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-568310918782387241.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-568310918782387241.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-568310918782387241.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-568310918782387241.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-568310918782387241.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-568310918782387241.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-568310918782387241.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-568310918782387241.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-568310918782387241.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-568310918782387241 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-568310918782387241 .gp-relative{position:relative}.gps-568310918782387241 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-568310918782387241 .gp-mb-0{margin-bottom:0}.gps-568310918782387241 .gp-flex{display:flex}.gps-568310918782387241 .gp-grid{display:grid}.gps-568310918782387241 .\!gp-hidden{display:none!important}.gps-568310918782387241 .gp-hidden{display:none}.gps-568310918782387241 .gp-max-w-full{max-width:100%}.gps-568310918782387241 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-568310918782387241 .gp-flex-col{flex-direction:column}.gps-568310918782387241 .gp-gap-y-0{row-gap:0}.gps-568310918782387241 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568310918782387241 .gp-duration-200{transition-duration:.2s}.gps-568310918782387241 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-568310918782387241 .tablet\:\!gp-hidden{display:none!important}.gps-568310918782387241 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-568310918782387241 .mobile\:\!gp-hidden{display:none!important}.gps-568310918782387241 .mobile\:gp-hidden{display:none}}.gps-568310918782387241 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-568310918782387241 .\[\&_p\]\:gp-inline p{display:inline}.gps-568310918782387241 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-568310918782387241 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gzB5SnZAmT" data-id="gzB5SnZAmT"
        style="--blockPadding:base;--mb:0px;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzB5SnZAmT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gIOOFw90i_ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gIdDlweG4D" data-id="gIdDlweG4D"
        style="--mb:0px;--pt:10px;--pb:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:#F55F86;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIdDlweG4D gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gqkbh5rGTQ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g9-FzAzY_H">
    <div
      parentTag="Col"
        class="g9-FzAzY_H "
        style="--ta:left;--pt:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg9-FzAzY_H_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g9-FzAzY_H">
        .g9-FzAzY_H {

}
.g9-FzAzY_H p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 32px;
line-height: 140%;
letter-spacing: 0%;
text-align: center;

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gjbUm0U8nh" data-id="gjbUm0U8nh"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjbUm0U8nh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gFzx0k4ug9 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g2uDoFvoh-" data-id="g2uDoFvoh-"
        style="--mt:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2uDoFvoh- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gH1RuJWhzD gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="goy07ySwyE "
    ><div><div class="order-status">
    <p>Select Your Package</p>
    
    <svg width="401" height="57" viewBox="0 0 401 57" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.494141" y="25.4248" width="400.344" height="8" rx="4" fill="black"/>
<circle cx="200.666" cy="28.4248" r="25" fill="white" stroke="black" stroke-width="6"/>
<mask id="path-3-outside-1_16_4513" maskUnits="userSpaceOnUse" x="195.666" y="17.4248" width="9" height="21" fill="black">
<rect fill="white" x="195.666" y="17.4248" width="9" height="21"/>
<path d="M200.461 37.4248V21.6688L197.523 22.3188V20.8108L201.189 19.2248H202.671V37.4248H200.461Z"/>
</mask>
<path d="M200.461 37.4248V21.6688L197.523 22.3188V20.8108L201.189 19.2248H202.671V37.4248H200.461Z" fill="black"/>
<path d="M200.461 37.4248H199.461V38.4248H200.461V37.4248ZM200.461 21.6688H201.461V20.4234L200.245 20.6924L200.461 21.6688ZM197.523 22.3188H196.523V23.5642L197.739 23.2952L197.523 22.3188ZM197.523 20.8108L197.126 19.893L196.523 20.1539V20.8108H197.523ZM201.189 19.2248V18.2248H200.982L200.792 18.307L201.189 19.2248ZM202.671 19.2248H203.671V18.2248H202.671V19.2248ZM202.671 37.4248V38.4248H203.671V37.4248H202.671ZM201.461 37.4248V21.6688H199.461V37.4248H201.461ZM200.245 20.6924L197.307 21.3424L197.739 23.2952L200.677 22.6452L200.245 20.6924ZM198.523 22.3188V20.8108H196.523V22.3188H198.523ZM197.92 21.7286L201.586 20.1426L200.792 18.307L197.126 19.893L197.92 21.7286ZM201.189 20.2248H202.671V18.2248H201.189V20.2248ZM201.671 19.2248V37.4248H203.671V19.2248H201.671ZM202.671 36.4248H200.461V38.4248H202.671V36.4248Z" fill="black" mask="url(#path-3-outside-1_16_4513)"/>
</svg>

</div></div></div>
  
      <style id="custom-css-goy07ySwyE">
        .goy07ySwyE p {
   font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 22px;
line-height: 42px;
letter-spacing: 0;
text-align: center;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gFEIdz2mnK gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="g-Rx1G2WUg "
    ><div><div class="order-status">
    <p>Billing Information</p>
    
<svg width="402" height="57" viewBox="0 0 402 57" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.5 29.4248C0.5 27.2157 2.29086 25.4248 4.5 25.4248H397.5C399.709 25.4248 401.5 27.2157 401.5 29.4248C401.5 31.6339 399.709 33.4248 397.5 33.4248H4.50001C2.29087 33.4248 0.5 31.6339 0.5 29.4248Z" fill="#E5E5E4"/>
<path d="M201.001 3.4248C214.838 3.42481 226.047 14.6223 226.047 28.4248C226.047 42.2273 214.838 53.4248 201.001 53.4248C187.164 53.4248 175.955 42.2273 175.955 28.4248C175.955 14.6223 187.164 3.4248 201.001 3.4248Z" fill="white" stroke="#E5E5E4" stroke-width="6"/>
<path d="M195.701 37.4248V35.8908C196.932 34.9201 198.093 33.9408 199.185 32.9528C200.294 31.9475 201.274 30.9595 202.123 29.9888C202.99 29.0181 203.666 28.0648 204.151 27.1288C204.654 26.1928 204.905 25.2915 204.905 24.4248C204.905 23.7835 204.792 23.1855 204.567 22.6308C204.359 22.0761 204.012 21.6341 203.527 21.3048C203.042 20.9581 202.383 20.7848 201.551 20.7848C200.754 20.7848 200.086 20.9668 199.549 21.3308C199.012 21.6775 198.604 22.1455 198.327 22.7348C198.067 23.3241 197.937 23.9568 197.937 24.6328H195.831C195.831 23.4368 196.082 22.4141 196.585 21.5648C197.088 20.6981 197.772 20.0395 198.639 19.5888C199.506 19.1381 200.485 18.9128 201.577 18.9128C203.189 18.9128 204.506 19.3721 205.529 20.2908C206.569 21.1921 207.089 22.5441 207.089 24.3468C207.089 25.4215 206.82 26.4875 206.283 27.5448C205.746 28.5848 205.061 29.5988 204.229 30.5868C203.397 31.5575 202.504 32.4675 201.551 33.3168C200.615 34.1661 199.74 34.9288 198.925 35.6048H207.713V37.4248H195.701Z" fill="black"/>
</svg>


</div></div></div>
  
      <style id="custom-css-g-Rx1G2WUg">
        .g-Rx1G2WUg p {
   font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 22px;
line-height: 42px;
letter-spacing: 0;
text-align: center;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gcsfyw7Mdv gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gCfYj8I0Lt "
    ><div><div class="order-status">
    <p>Thank You</p>
    
<svg width="401" height="57" viewBox="0 0 401 57" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.160156 29.4248C0.160156 27.2157 1.95102 25.4248 4.16016 25.4248H396.504C398.713 25.4248 400.504 27.2157 400.504 29.4248C400.504 31.6339 398.713 33.4248 396.504 33.4248H4.16016C1.95102 33.4248 0.160156 31.6339 0.160156 29.4248Z" fill="#E5E5E4"/>
<circle cx="200.332" cy="28.4248" r="25" fill="white" stroke="#E5E5E4" stroke-width="6"/>
<path d="M200.281 37.7368C199.12 37.7368 198.071 37.5288 197.135 37.1128C196.199 36.6795 195.445 36.0381 194.873 35.1888C194.319 34.3395 194.024 33.2821 193.989 32.0168H196.199C196.217 33.0568 196.581 33.9581 197.291 34.7208C198.002 35.4661 198.999 35.8388 200.281 35.8388C201.564 35.8388 202.526 35.4835 203.167 34.7728C203.826 34.0621 204.155 33.2041 204.155 32.1988C204.155 31.3495 203.947 30.6561 203.531 30.1188C203.133 29.5815 202.587 29.1828 201.893 28.9228C201.217 28.6628 200.472 28.5328 199.657 28.5328H198.305V26.6868H199.657C200.836 26.6868 201.755 26.4181 202.413 25.8808C203.089 25.3435 203.427 24.5895 203.427 23.6188C203.427 22.8041 203.159 22.1368 202.621 21.6168C202.101 21.0795 201.321 20.8108 200.281 20.8108C199.276 20.8108 198.47 21.1141 197.863 21.7208C197.257 22.3101 196.919 23.0555 196.849 23.9568H194.639C194.691 22.9688 194.951 22.0935 195.419 21.3308C195.905 20.5681 196.563 19.9788 197.395 19.5628C198.227 19.1295 199.189 18.9128 200.281 18.9128C201.46 18.9128 202.439 19.1208 203.219 19.5368C204.017 19.9528 204.615 20.5075 205.013 21.2008C205.429 21.8941 205.637 22.6568 205.637 23.4888C205.637 24.4075 205.386 25.2481 204.883 26.0108C204.381 26.7561 203.627 27.2588 202.621 27.5188C203.696 27.7441 204.589 28.2555 205.299 29.0528C206.01 29.8501 206.365 30.8988 206.365 32.1988C206.365 33.2041 206.131 34.1315 205.663 34.9808C205.213 35.8128 204.537 36.4801 203.635 36.9828C202.734 37.4855 201.616 37.7368 200.281 37.7368Z" fill="black"/>
</svg>


</div></div></div>
  
      <style id="custom-css-gCfYj8I0Lt">
        .gCfYj8I0Lt p {
   font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 22px;
line-height: 42px;
letter-spacing: 0;
text-align: center;

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEAIidmC7f">
    <div
      parentTag="Col"
        class="gEAIidmC7f "
        style="--ta:left;--mt:16px;--mb:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEAIidmC7f_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gEAIidmC7f">
        .gEAIidmC7f {

}
.gEAIidmC7f p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 32px;
line-height: 42px;
letter-spacing: 0;
text-align: center;

}
      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-568310918782387241 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/miralou-shop/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=567883725279331409&sectionId=568310918782387241)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg9-FzAzY_H_text","label":"gg9-FzAzY_H_text","default":"<p><span style=\"color:#FFFFFF;\">FREE Shipping For 2 &amp; 4 Bottle Orders</span></p>"},{"type":"html","id":"ggEAIidmC7f_text","label":"ggEAIidmC7f_text","default":"<p>Choose Your Package Below</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
