

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-568310918077744065.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-568310918077744065.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-568310918077744065.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-568310918077744065.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-568310918077744065.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-568310918077744065.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-568310918077744065.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-568310918077744065.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-568310918077744065.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-568310918077744065.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-568310918077744065.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-568310918077744065.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-568310918077744065.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-568310918077744065.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-568310918077744065.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-568310918077744065.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-568310918077744065.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-568310918077744065.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-568310918077744065.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-568310918077744065.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-568310918077744065.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-568310918077744065.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-568310918077744065.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-568310918077744065.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-568310918077744065.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-568310918077744065.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-568310918077744065.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-568310918077744065.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-568310918077744065.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-568310918077744065.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-568310918077744065.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-568310918077744065.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-568310918077744065.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-568310918077744065.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-568310918077744065.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-568310918077744065.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-568310918077744065.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-568310918077744065.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-568310918077744065.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-568310918077744065 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-568310918077744065 .gp-relative{position:relative}.gps-568310918077744065 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-568310918077744065 .gp-mb-0{margin-bottom:0}.gps-568310918077744065 .gp-flex{display:flex}.gps-568310918077744065 .gp-grid{display:grid}.gps-568310918077744065 .\!gp-hidden{display:none!important}.gps-568310918077744065 .gp-hidden{display:none}.gps-568310918077744065 .gp-max-w-full{max-width:100%}.gps-568310918077744065 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-568310918077744065 .gp-flex-col{flex-direction:column}.gps-568310918077744065 .gp-gap-y-0{row-gap:0}.gps-568310918077744065 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568310918077744065 .gp-duration-200{transition-duration:.2s}.gps-568310918077744065 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-568310918077744065 .tablet\:\!gp-hidden{display:none!important}.gps-568310918077744065 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-568310918077744065 .mobile\:\!gp-hidden{display:none!important}.gps-568310918077744065 .mobile\:gp-hidden{display:none}}.gps-568310918077744065 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-568310918077744065 .\[\&_p\]\:gp-inline p{display:inline}.gps-568310918077744065 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-568310918077744065 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gH5J6GXlTZ" data-id="gH5J6GXlTZ"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gH5J6GXlTZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gSYWJBxhq_ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gRF0NjFBE1" data-id="gRF0NjFBE1"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRF0NjFBE1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gYY4Yqtr2a gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gQU-2dG1-0" data-id="gQU-2dG1-0"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQU-2dG1-0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="geBELE5kjr gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g52EzUkW65">
    <div
      parentTag="Col"
        class="g52EzUkW65 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg52EzUkW65_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g52EzUkW65">
        .g52EzUkW65 {

}
.g52EzUkW65 p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 32px;
line-height: 140%;
letter-spacing: 0;
text-align: center;

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gAFJ7LItXC" data-id="gAFJ7LItXC"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:80%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAFJ7LItXC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJmdMSkMYj gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gbN5zeQWmr "
    ><div><div class="diet-friendly-supplements">
    <svg width="130" height="131" viewBox="0 0 130 131" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="65" cy="65.373" r="64" fill="#FFF5F7" stroke="#F55F86" stroke-width="2"/>
<path d="M32.3736 63.1963C34.4035 71.247 40.4373 74.9922 46.124 74.9915C47.4447 74.9356 49.9611 75.0717 49.6816 73.1179C49.5328 72.3645 48.8046 71.8693 48.0471 72.0228C43.1913 72.9793 37.063 70.4162 35.0984 62.6488C34.3926 57.9607 32.0727 51.0968 29.6495 46.3109C40.2367 44.957 59.8481 47.6985 56.517 63.8535C56.0692 65.3149 55.4178 66.6117 54.5931 67.7464C51.1854 62.7844 46.8035 58.2611 41.3924 54.8711C40.7409 54.4642 39.8829 54.6605 39.4747 55.312C39.0671 55.9628 39.2641 56.8215 39.9155 57.2297C52.9123 65.6107 59.9955 80.521 60.837 93.4528C60.9314 94.1932 61.6068 94.7246 62.3382 94.6567C64.4193 94.2831 63.3515 91.7005 63.3458 90.2065C63.0351 82.521 65.6431 76.0237 69.4101 70.9371C78.345 80.6112 89.2503 73.4062 93.4119 61.3545C95.4834 56.0022 103.58 45.5324 103.662 45.4271C104.429 44.5013 103.569 43 102.389 43.1942C101.845 43.1187 100.195 42.7043 99.4622 42.5209C87.2902 39.8633 72.9835 41.37 67.6919 52.9148C67.0304 54.414 64.4677 61.7985 67.3875 61.8118C68.1288 61.8444 68.7932 61.2208 68.8102 60.4532C68.921 52.6147 74.4536 46.4497 82.604 44.8266C87.0142 43.9543 92.0147 44.0093 97.8732 44.9964C98.2725 45.126 99.6079 45.4 100.084 45.5433C97.6008 48.8774 92.5065 55.9845 90.817 60.3506C87.3063 70.5469 78.4667 77.3116 71.2021 68.7113C75.3281 64.0084 80.3679 60.7862 84.5095 59.2834C86.2072 58.638 85.2994 56.0695 83.5597 56.668C73.2093 60.3927 64.0045 70.3525 61.4177 81.6564C60.1923 77.8394 58.4483 73.9328 56.1846 70.2023C59.6808 66.2873 60.6846 59.922 58.6833 55.0722C53.5694 42.0284 35.0067 42.8198 27.2657 43.7641C26.8004 43.8212 26.3948 44.1085 26.187 44.5283C25.9791 44.9488 25.9974 45.4454 26.2345 45.8496C28.8003 50.217 31.5992 58.1 32.3736 63.1963Z" fill="#F55F86"/>
</svg>
</div>
<p>
    Keto, Paleo & Vegan Friendly
</p></div></div>
  
      <style id="custom-css-gbN5zeQWmr">
        .gbN5zeQWmr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 16px;
  padding: 0 35px;
}

.gbN5zeQWmr svg {
    margin: 0 auto;
}

.gbN5zeQWmr p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
  max-width: 160px;
}

      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gn-P3BH0Bu gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gKYifidfYg "
    ><div><div class="diet-friendly-supplements">
<svg width="130" height="131" viewBox="0 0 130 131" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="65" cy="65.373" r="64" fill="#FFF5F7" stroke="#F55F86" stroke-width="2"/>
<g clip-path="url(#clip0_16_4379)">
<path d="M80.6782 66.5252C80.143 66.5351 79.699 66.1091 79.6872 65.5739C79.555 59.5603 75.9993 54.6728 73.0403 51.6297C70.6509 49.1739 67.588 47.2522 64.3458 45.2171C57.373 40.8442 49.4725 35.8869 48.308 24.361C48.2534 23.8266 48.6437 23.3482 49.1781 23.2956C49.7144 23.2409 50.1909 23.6312 50.2435 24.1657C51.3107 34.7432 58.4628 39.2296 65.3785 43.5684C68.5753 45.5733 71.8825 47.6481 74.4346 50.2723C77.6377 53.5659 81.4856 58.8861 81.6314 65.5322C81.6433 66.0693 81.2173 66.5153 80.6782 66.5252C80.6802 66.5252 80.6802 66.5252 80.6782 66.5252Z" fill="#F55F86"/>
<path d="M49.5109 67.0994C49.509 67.0995 49.509 67.0995 49.507 67.0995C48.9698 67.1075 48.5277 66.6776 48.5198 66.1403C48.4226 59.4933 52.0718 54.035 55.1513 50.6256C57.605 47.9091 60.8316 45.7158 63.9543 43.5925C70.7054 39.0018 77.6873 34.2569 78.364 23.6453C78.3989 23.1092 78.8605 22.6996 79.3966 22.7365C79.9327 22.7714 80.3403 23.2331 80.3054 23.7691C79.5664 35.3301 71.8539 40.5752 65.047 45.202C61.882 47.3552 58.8919 49.3865 56.5947 51.9307C53.7498 55.0807 50.3768 60.0978 50.4662 66.1103C50.4741 66.6475 50.0461 67.0896 49.5109 67.0994Z" fill="#F55F86"/>
<path d="M79.3507 24.682L49.2961 25.236C48.7589 25.2459 48.3149 24.8179 48.305 24.2808C48.2951 23.7436 48.7231 23.2996 49.2603 23.2897L79.3167 22.7357C79.8539 22.7258 80.2979 23.1537 80.3078 23.6909C80.3177 24.2281 79.8878 24.6721 79.3507 24.682Z" fill="#F55F86"/>
<path d="M77.9861 31.2329L50.9016 31.7321C50.3644 31.742 49.9204 31.314 49.9105 30.7769C49.9006 30.2397 50.3285 29.7957 50.8657 29.7858L77.9502 29.2866C78.4874 29.2767 78.9314 29.7046 78.9413 30.2418C78.9512 30.779 78.5233 31.223 77.9861 31.2329Z" fill="#F55F86"/>
<path d="M73.2101 38.5681L55.9446 38.8864C55.4074 38.8963 54.9634 38.4683 54.9535 37.9312C54.9436 37.394 55.3715 36.95 55.9087 36.9401L73.1742 36.6219C73.7114 36.612 74.1554 37.0399 74.1653 37.5771C74.1752 38.1142 73.7472 38.5582 73.2101 38.5681Z" fill="#F55F86"/>
<path d="M78.2494 57.9249L51.6203 58.4157C51.0832 58.4256 50.6392 57.9976 50.6293 57.4604C50.6194 56.9233 51.0473 56.4793 51.5845 56.4694L78.2155 55.9785C78.7527 55.9686 79.1967 56.3966 79.2066 56.9337C79.2165 57.4709 78.7866 57.915 78.2494 57.9249Z" fill="#F55F86"/>
<path d="M80.671 66.5251L49.5188 67.0992C48.9816 67.1091 48.5376 66.6812 48.5277 66.144C48.5178 65.6069 48.9457 65.1629 49.4829 65.153L80.6352 64.5788C81.1723 64.5689 81.6163 64.9968 81.6262 65.534C81.6361 66.0712 81.2082 66.5152 80.671 66.5251Z" fill="#F55F86"/>
<path d="M50.8385 108.941C50.8113 108.942 50.784 108.94 50.7567 108.939C50.2207 108.904 49.813 108.442 49.8479 107.906C50.585 96.3454 58.2994 91.1003 65.1063 86.4735C68.2713 84.3203 71.2614 82.289 73.5586 79.7448C76.4035 76.5948 79.7766 71.5777 79.6872 65.5652C79.6792 65.028 80.1072 64.5879 80.6425 64.578L80.6463 64.5779C81.1836 64.57 81.6257 64.9999 81.6336 65.5371C81.7328 72.1841 78.0816 77.6425 75.004 81.0499C72.5502 83.7663 69.3237 85.9597 66.201 88.0829C59.4499 92.6737 52.468 97.4186 51.7913 108.03C51.7579 108.539 51.3407 108.932 50.8385 108.941Z" fill="#F55F86"/>
<path d="M80.8935 108.388C80.3914 108.397 79.96 108.02 79.9078 107.513C78.8407 96.9349 71.6886 92.4486 64.7729 88.1098C61.576 86.1049 58.2689 84.0301 55.7167 81.4059C52.5137 78.1123 48.6658 72.7921 48.52 66.1479C48.5081 65.6108 48.9341 65.1649 49.4712 65.153L49.4751 65.153C50.0103 65.1431 50.4543 65.5691 50.4661 66.1043C50.5984 72.1179 54.154 77.0054 57.113 80.0485C59.5024 82.5043 62.5653 84.4259 65.8075 86.4611C72.7803 90.8339 80.6809 95.7913 81.8453 107.317C81.9 107.852 81.5097 108.33 80.9752 108.383C80.9461 108.385 80.9208 108.387 80.8935 108.388Z" fill="#F55F86"/>
<path d="M80.8936 108.389L50.8391 108.943C50.3019 108.953 49.8579 108.525 49.848 107.988C49.8381 107.451 50.266 107.007 50.8032 106.997L80.8597 106.443C81.3969 106.433 81.8409 106.861 81.8508 107.398C81.8588 107.935 81.4308 108.379 80.8936 108.389Z" fill="#F55F86"/>
<path d="M79.2888 101.891L52.2043 102.39C51.6672 102.4 51.2231 101.972 51.2132 101.435C51.2033 100.898 51.6313 100.454 52.1685 100.444L79.253 99.9448C79.7901 99.9349 80.2342 100.363 80.2441 100.9C80.254 101.437 79.826 101.881 79.2888 101.891Z" fill="#F55F86"/>
<path d="M74.2452 94.7381L56.9797 95.0563C56.4425 95.0662 55.9985 94.6382 55.9886 94.1011C55.9787 93.5639 56.4067 93.1199 56.9438 93.11L74.2093 92.7918C74.7465 92.7819 75.1905 93.2098 75.2004 93.747C75.2104 94.2861 74.7824 94.7282 74.2452 94.7381Z" fill="#F55F86"/>
<path d="M78.5678 75.2081L51.9387 75.6989C51.4015 75.7088 50.9575 75.2808 50.9476 74.7437C50.9377 74.2065 51.3657 73.7625 51.9028 73.7526L78.5339 73.2617C79.071 73.2518 79.515 73.6798 79.5249 74.2169C79.5329 74.7542 79.105 75.1982 78.5678 75.2081Z" fill="#F55F86"/>
<path d="M80.671 66.5251L49.5188 67.0992C48.9816 67.1091 48.5376 66.6812 48.5277 66.144C48.5178 65.6069 48.9457 65.1629 49.4829 65.153L80.6352 64.5788C81.1723 64.5689 81.6163 64.9968 81.6262 65.534C81.6361 66.0712 81.2082 66.5152 80.671 66.5251Z" fill="#F55F86"/>
</g>
<line x1="16.4366" y1="108.826" x2="109.93" y2="20.6754" stroke="#F55F86" stroke-width="4"/>
<defs>
<clipPath id="clip0_16_4379">
<rect width="87.5977" height="87.5977" fill="white" transform="translate(20.4785 22.8545) rotate(-1.05589)"/>
</clipPath>
</defs>
</svg>

</div>
<p>
   Non-GMO & Caffeine-Free
</p></div></div>
  
      <style id="custom-css-gKYifidfYg">
        .gKYifidfYg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 16px;
  padding: 0 35px;
}

.gKYifidfYg svg {
    margin: 0 auto;
}

.gKYifidfYg p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
  max-width: 160px;
}

      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="guMHD1X0wS gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="g-TefT9OiX "
    ><div><div class="diet-friendly-supplements">
<svg width="130" height="131" viewBox="0 0 130 131" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="65" cy="65.373" r="64" fill="#FFF5F7" stroke="#F55F86" stroke-width="2"/>
<path d="M57.9675 103.313H31.6695C31.1889 103.313 30.7988 102.923 30.7988 102.443V27.5552C30.7988 27.0746 31.1889 26.6846 31.6695 26.6846H57.9658C58.4464 26.6846 58.8364 27.0746 58.8364 27.5552V102.443C58.8381 102.923 58.4481 103.313 57.9675 103.313ZM32.5401 101.572H57.0952V28.4258H32.5401V101.572Z" fill="#F55F86"/>
<path d="M100.206 103.314H57.9683C57.4877 103.314 57.0977 102.924 57.0977 102.443C57.0977 101.962 57.4877 101.572 57.9683 101.572H99.3351V48.1231H93.4479C92.9674 48.1231 92.5773 47.733 92.5773 47.2525C92.5773 46.7719 92.9674 46.3818 93.4479 46.3818H100.206C100.686 46.3818 101.076 46.7719 101.076 47.2525V102.443C101.076 102.924 100.686 103.314 100.206 103.314ZM64.7261 48.1231H57.9683C57.4877 48.1231 57.0977 47.733 57.0977 47.2525C57.0977 46.7719 57.4877 46.3818 57.9683 46.3818H64.7261C65.2066 46.3818 65.5967 46.7719 65.5967 47.2525C65.5967 47.733 65.2066 48.1231 64.7261 48.1231Z" fill="#F55F86"/>
<path d="M92.0386 103.313C91.558 103.313 91.168 102.923 91.168 102.443V86.1934H67.003V102.443C67.003 102.923 66.6129 103.313 66.1323 103.313C65.6518 103.313 65.2617 102.923 65.2617 102.443V85.3228C65.2617 84.8422 65.6518 84.4521 66.1323 84.4521H92.0369C92.5175 84.4521 92.9075 84.8422 92.9075 85.3228V102.443C92.9093 102.923 92.5192 103.313 92.0386 103.313Z" fill="#F55F86"/>
<path d="M79.0855 103.313C78.6049 103.313 78.2148 102.923 78.2148 102.443V85.3228C78.2148 84.8422 78.6049 84.4521 79.0855 84.4521C79.5661 84.4521 79.9561 84.8422 79.9561 85.3228V102.443C79.9561 102.923 79.5661 103.313 79.0855 103.313Z" fill="#F55F86"/>
<path d="M92.0386 78.4232H66.1323C65.6518 78.4232 65.2617 78.0332 65.2617 77.5526V69.7066C65.2617 69.226 65.6518 68.8359 66.1323 68.8359H92.0369C92.5175 68.8359 92.9075 69.226 92.9075 69.7066V77.5526C92.9093 78.0332 92.5192 78.4232 92.0386 78.4232ZM67.003 76.682H91.1663V70.5772H67.003V76.682Z" fill="#F55F86"/>
<path d="M79.0847 63.399C70.671 63.399 63.8262 56.5541 63.8262 48.1404C63.8262 39.7267 70.671 32.8818 79.0847 32.8818C87.4984 32.8818 94.3433 39.7267 94.3433 48.1404C94.3433 56.5541 87.4984 63.399 79.0847 63.399ZM79.0847 34.6231C71.6304 34.6231 65.5674 40.6879 65.5674 48.1404C65.5674 55.5929 71.6304 61.6577 79.0847 61.6577C86.539 61.6577 92.602 55.5947 92.602 48.1404C92.602 40.6861 86.539 34.6231 79.0847 34.6231Z" fill="#F55F86"/>
<path d="M75.5459 56.6652C75.323 56.6652 75.1001 56.5799 74.9295 56.411L69.448 50.9278C69.1085 50.5882 69.1085 50.0363 69.448 49.6967L72.194 46.9525C72.5335 46.613 73.0855 46.613 73.425 46.9525L75.5476 49.0734L84.7501 39.8709C85.0896 39.5313 85.6416 39.5313 85.9812 39.8709L88.7271 42.6151C88.8908 42.7788 88.9813 42.9999 88.9813 43.2315C88.9813 43.4631 88.8891 43.6842 88.7271 43.8479L76.164 56.411C75.9899 56.5799 75.7687 56.6652 75.5459 56.6652ZM71.2937 50.3131L75.5441 54.5653L86.8762 43.2332L85.363 41.7201L76.1605 50.9226C75.821 51.2621 75.269 51.2621 74.9295 50.9226L72.8069 48.8017L71.2937 50.3131Z" fill="#F55F86"/>
<path d="M42.5208 42.9588H36.0503C35.5697 42.9588 35.1797 42.5688 35.1797 42.0882V35.6177C35.1797 35.1371 35.5697 34.7471 36.0503 34.7471H42.5208C43.0014 34.7471 43.3914 35.1371 43.3914 35.6177V42.0882C43.3914 42.5688 43.0014 42.9588 42.5208 42.9588ZM36.9209 41.2175H41.6502V36.4883H36.9209V41.2175Z" fill="#F55F86"/>
<path d="M53.5872 42.9588H47.1167C46.6361 42.9588 46.2461 42.5688 46.2461 42.0882V35.6177C46.2461 35.1371 46.6361 34.7471 47.1167 34.7471H53.5872C54.0678 34.7471 54.4578 35.1371 54.4578 35.6177V42.0882C54.4578 42.5688 54.0678 42.9588 53.5872 42.9588ZM47.9873 41.2175H52.7166V36.4883H47.9873V41.2175Z" fill="#F55F86"/>
<path d="M42.5208 56.0311H36.0503C35.5697 56.0311 35.1797 55.641 35.1797 55.1604V48.69C35.1797 48.2094 35.5697 47.8193 36.0503 47.8193H42.5208C43.0014 47.8193 43.3914 48.2094 43.3914 48.69V55.1604C43.3914 55.641 43.0014 56.0311 42.5208 56.0311ZM36.9209 54.2898H41.6502V49.5606H36.9209V54.2898Z" fill="#F55F86"/>
<path d="M53.5872 56.032H47.1167C46.6361 56.032 46.2461 55.642 46.2461 55.1614V48.6909C46.2461 48.2104 46.6361 47.8203 47.1167 47.8203H53.5872C54.0678 47.8203 54.4578 48.2104 54.4578 48.6909V55.1614C54.4578 55.642 54.0678 56.032 53.5872 56.032ZM47.9873 54.2908H52.7166V49.5616H47.9873V54.2908Z" fill="#F55F86"/>
<path d="M42.5208 69.1053H36.0503C35.5697 69.1053 35.1797 68.7152 35.1797 68.2347V61.7642C35.1797 61.2836 35.5697 60.8936 36.0503 60.8936H42.5208C43.0014 60.8936 43.3914 61.2836 43.3914 61.7642V68.2347C43.3914 68.7152 43.0014 69.1053 42.5208 69.1053ZM36.9209 67.364H41.6502V62.6348H36.9209V67.364Z" fill="#F55F86"/>
<path d="M53.5872 69.1053H47.1167C46.6361 69.1053 46.2461 68.7152 46.2461 68.2347V61.7642C46.2461 61.2836 46.6361 60.8936 47.1167 60.8936H53.5872C54.0678 60.8936 54.4578 61.2836 54.4578 61.7642V68.2347C54.4578 68.7152 54.0678 69.1053 53.5872 69.1053ZM47.9873 67.364H52.7166V62.6348H47.9873V67.364Z" fill="#F55F86"/>
<path d="M42.5208 82.1785H36.0503C35.5697 82.1785 35.1797 81.7885 35.1797 81.3079V74.8374C35.1797 74.3568 35.5697 73.9668 36.0503 73.9668H42.5208C43.0014 73.9668 43.3914 74.3568 43.3914 74.8374V81.3079C43.3914 81.7885 43.0014 82.1785 42.5208 82.1785ZM36.9209 80.4373H41.6502V75.708H36.9209V80.4373Z" fill="#F55F86"/>
<path d="M53.5872 82.1785H47.1167C46.6361 82.1785 46.2461 81.7885 46.2461 81.3079V74.8374C46.2461 74.3568 46.6361 73.9668 47.1167 73.9668H53.5872C54.0678 73.9668 54.4578 74.3568 54.4578 74.8374V81.3079C54.4578 81.7885 54.0678 82.1785 53.5872 82.1785ZM47.9873 80.4373H52.7166V75.708H47.9873V80.4373Z" fill="#F55F86"/>
<path d="M42.5208 95.2508H36.0503C35.5697 95.2508 35.1797 94.8607 35.1797 94.3802V87.9097C35.1797 87.4291 35.5697 87.0391 36.0503 87.0391H42.5208C43.0014 87.0391 43.3914 87.4291 43.3914 87.9097V94.3802C43.3914 94.8607 43.0014 95.2508 42.5208 95.2508ZM36.9209 93.5095H41.6502V88.7803H36.9209V93.5095Z" fill="#F55F86"/>
<path d="M53.5872 95.2508H47.1167C46.6361 95.2508 46.2461 94.8607 46.2461 94.3802V87.9097C46.2461 87.4291 46.6361 87.0391 47.1167 87.0391H53.5872C54.0678 87.0391 54.4578 87.4291 54.4578 87.9097V94.3802C54.4578 94.8607 54.0678 95.2508 53.5872 95.2508ZM47.9873 93.5095H52.7166V88.7803H47.9873V93.5095Z" fill="#F55F86"/>
</svg>

</div>
<p>
    Made In An FDA-Registered,  GMP-Certified Facility
</p></div></div>
  
      <style id="custom-css-g-TefT9OiX">
        .g-TefT9OiX {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 16px;
  padding: 0 35px;
}

.g-TefT9OiX svg {
    margin: 0 auto;
}

.g-TefT9OiX p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
  max-width: 160px;
}

      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ghFH_ekbBx gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gVV084PudA "
    ><div><div class="diet-friendly-supplements">
<svg width="130" height="131" viewBox="0 0 130 131" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="65" cy="65.373" r="64" fill="#FFF5F7" stroke="#F55F86" stroke-width="2"/>
<path d="M95.7205 100.256H40.7062C40.0799 100.256 39.5723 99.7486 39.5723 99.1223V25.1975C39.5723 24.5711 40.0799 24.0635 40.7062 24.0635H85.3581C85.6713 24.0635 85.9683 24.1931 86.1843 24.4199L96.5413 35.4573C96.7411 35.6679 96.8491 35.9433 96.8491 36.2349L96.8545 99.1276C96.8545 99.43 96.7357 99.7162 96.5197 99.9268C96.3037 100.137 96.0175 100.256 95.7205 100.256ZM41.8402 97.9883H94.5866L94.5812 36.6777L84.8667 26.3314H41.8402V97.9883Z" fill="#F55F86"/>
<path d="M89.2948 106.682H34.2805C33.6541 106.682 33.1465 106.174 33.1465 105.548V31.6232C33.1465 30.9968 33.6541 30.4893 34.2805 30.4893H40.7064C41.3328 30.4893 41.8403 30.9968 41.8403 31.6232C41.8403 32.2496 41.3328 32.7572 40.7064 32.7572H35.4144V104.414H88.1608V99.1221C88.1608 98.4958 88.6684 97.9882 89.2948 97.9882C89.9212 97.9882 90.4287 98.4958 90.4287 99.1221V105.548C90.4287 105.85 90.3099 106.137 90.0939 106.353C89.8834 106.563 89.5972 106.682 89.2948 106.682Z" fill="#F55F86"/>
<path d="M77.7756 39.2914H58.6437C58.0174 39.2914 57.5098 38.7838 57.5098 38.1574C57.5098 37.531 58.0174 37.0234 58.6437 37.0234H77.7756C78.402 37.0234 78.9096 37.531 78.9096 38.1574C78.9096 38.7838 78.402 39.2914 77.7756 39.2914Z" fill="#F55F86"/>
<path d="M74.9619 35.4682H61.4621C60.8357 35.4682 60.3281 34.9606 60.3281 34.3342C60.3281 33.7078 60.8357 33.2002 61.4621 33.2002H74.9619C75.5883 33.2002 76.0959 33.7078 76.0959 34.3342C76.0959 34.9606 75.5883 35.4682 74.9619 35.4682Z" fill="#F55F86"/>
<path d="M87.8854 55.2201H61.8254C61.199 55.2201 60.6914 54.7125 60.6914 54.0861C60.6914 53.4597 61.199 52.9521 61.8254 52.9521H87.8854C88.5118 52.9521 89.0193 53.4597 89.0193 54.0861C89.0193 54.7125 88.5118 55.2201 87.8854 55.2201Z" fill="#F55F86"/>
<path d="M87.8854 51.392H61.8254C61.199 51.392 60.6914 50.8844 60.6914 50.258C60.6914 49.6316 61.199 49.124 61.8254 49.124H87.8854C88.5118 49.124 89.0193 49.6316 89.0193 50.258C89.0193 50.8844 88.5118 51.392 87.8854 51.392Z" fill="#F55F86"/>
<path d="M50.9817 56.198C50.6901 56.198 50.4039 56.0846 50.1826 55.8632L47.7364 53.4171C47.2936 52.9743 47.2936 52.2561 47.7364 51.8133C48.1792 51.3705 48.8974 51.3705 49.3402 51.8133L50.9817 53.4549L55.9659 48.4708C56.4087 48.028 57.1268 48.028 57.5696 48.4708C58.0124 48.9136 58.0124 49.6317 57.5696 50.0745L51.7863 55.8632C51.5649 56.0846 51.2733 56.198 50.9817 56.198Z" fill="#F55F86"/>
<path d="M87.8854 72.6781H61.8254C61.199 72.6781 60.6914 72.1705 60.6914 71.5441C60.6914 70.9177 61.199 70.4102 61.8254 70.4102H87.8854C88.5118 70.4102 89.0193 70.9177 89.0193 71.5441C89.0193 72.1705 88.5118 72.6781 87.8854 72.6781Z" fill="#F55F86"/>
<path d="M87.8854 68.8549H61.8254C61.199 68.8549 60.6914 68.3473 60.6914 67.7209C60.6914 67.0945 61.199 66.5869 61.8254 66.5869H87.8854C88.5118 66.5869 89.0193 67.0945 89.0193 67.7209C89.0193 68.3473 88.5118 68.8549 87.8854 68.8549Z" fill="#F55F86"/>
<path d="M50.9817 73.6609C50.6793 73.6609 50.3931 73.5421 50.1826 73.3261L47.7364 70.88C47.2936 70.4372 47.2936 69.719 47.7364 69.2762C48.1792 68.8334 48.8974 68.8334 49.3402 69.2762L50.9817 70.9178L55.9659 65.9337C56.4087 65.4909 57.1268 65.4909 57.5696 65.9337C58.0124 66.3764 58.0124 67.0946 57.5696 67.5374L51.7863 73.3207C51.5703 73.5421 51.2841 73.6609 50.9817 73.6609Z" fill="#F55F86"/>
<path d="M87.8854 90.142H61.8254C61.199 90.142 60.6914 89.6344 60.6914 89.008C60.6914 88.3816 61.199 87.874 61.8254 87.874H87.8854C88.5118 87.874 89.0193 88.3816 89.0193 89.008C89.0193 89.6344 88.5118 90.142 87.8854 90.142Z" fill="#F55F86"/>
<path d="M87.8854 86.3187H61.8254C61.199 86.3187 60.6914 85.8112 60.6914 85.1848C60.6914 84.5584 61.199 84.0508 61.8254 84.0508H87.8854C88.5118 84.0508 89.0193 84.5584 89.0193 85.1848C89.0193 85.8112 88.5118 86.3187 87.8854 86.3187Z" fill="#F55F86"/>
<path d="M50.9817 91.1248C50.6793 91.1248 50.3931 91.006 50.1826 90.79L47.7364 88.3438C47.2936 87.901 47.2936 87.1829 47.7364 86.7401C48.1792 86.2973 48.8974 86.2973 49.3402 86.7401L50.9817 88.3816L55.9659 83.3975C56.4087 82.9547 57.1268 82.9547 57.5696 83.3975C58.0124 83.8403 58.0124 84.5585 57.5696 85.0013L51.7863 90.7846C51.5703 91.006 51.2841 91.1248 50.9817 91.1248Z" fill="#F55F86"/>
<path d="M95.5158 37.3695H85.3586C84.7322 37.3695 84.2246 36.8619 84.2246 36.2355V25.4465C84.2246 24.8201 84.7322 24.3125 85.3586 24.3125C85.985 24.3125 86.4926 24.8201 86.4926 25.4465V35.1015H95.5212C96.1476 35.1015 96.6552 35.6091 96.6552 36.2355C96.6552 36.8619 96.1422 37.3695 95.5158 37.3695Z" fill="#F55F86"/>
</svg>

</div>
<p>
    Based On 1000s Of Clinical Studies
</p></div></div>
  
      <style id="custom-css-gVV084PudA">
        .gVV084PudA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 16px;
  padding: 0 35px;
}

.gVV084PudA svg {
    margin: 0 auto;
}

.gVV084PudA p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
  max-width: 160px;
}

      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gAe5ujpUBi gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gdWhYN7IXs "
    ><div><div class="diet-friendly-supplements">
<svg width="130" height="131" viewBox="0 0 130 131" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="65" cy="65.373" r="64" fill="#FFF5F7" stroke="#F55F86" stroke-width="2"/>
<g clip-path="url(#clip0_16_4484)">
<path d="M100.937 104.526H29.0645C28.5621 104.526 28.1543 104.118 28.1543 103.616V98.6497C28.1543 95.4094 30.7902 92.7734 34.0305 92.7734H95.9695C99.2098 92.7734 101.846 95.4094 101.846 98.6497V103.616C101.848 104.118 101.44 104.526 100.937 104.526ZM29.9747 102.706H100.025V98.6497C100.025 96.4124 98.2068 94.5938 95.9695 94.5938H34.0305C31.7933 94.5938 29.9747 96.4124 29.9747 98.6497V102.706Z" fill="#F55F86"/>
<path d="M39.0986 94.5931C38.7691 94.5931 38.4524 94.4147 38.2903 94.1016C35.1374 88.0306 34.0415 81.7811 35.0337 75.5281C35.6289 71.7799 36.9651 68.181 39.0058 64.8296C40.7315 61.9971 42.9469 59.3939 45.4117 57.3023C46.4257 56.4431 47.4979 55.673 48.5974 55.0159C49.0289 54.7574 49.5877 54.8994 49.8462 55.3308C50.1047 55.7622 49.9627 56.3211 49.5313 56.5796C48.5173 57.1858 47.527 57.8957 46.5895 58.6912C44.2703 60.6573 42.186 63.1075 40.5604 65.7762C38.6435 68.9237 37.3892 72.3005 36.8322 75.8139C35.902 81.6737 36.936 87.5445 39.905 93.2624C40.1362 93.7084 39.9633 94.2581 39.5173 94.4893C39.3844 94.5603 39.2406 94.5931 39.0986 94.5931ZM52.1272 94.5931C51.8614 94.5931 51.5993 94.4766 51.419 94.2545C46.808 88.5421 44.9184 82.817 45.8031 77.2393C46.1727 74.9164 47.0191 72.6537 48.3225 70.5147C49.4476 68.667 50.8784 66.9813 52.4639 65.6379C52.6715 65.4613 52.8699 65.2956 53.0574 65.1391C53.4451 64.8187 54.0186 64.8715 54.339 65.2574C54.6593 65.6452 54.6066 66.2186 54.2206 66.539C54.0368 66.6901 53.8438 66.8521 53.6417 67.025C52.2036 68.2447 50.902 69.7793 49.8772 71.4613C48.6975 73.3982 47.933 75.4371 47.6017 77.5251C46.8007 82.573 48.561 87.8176 52.8371 93.1113C53.1521 93.5027 53.092 94.0761 52.7006 94.391C52.5313 94.5257 52.3292 94.5931 52.1272 94.5931Z" fill="#F55F86"/>
<path d="M56.6314 67.3273C51.7163 67.3273 47.7188 63.3297 47.7188 58.4146C47.7188 53.4995 51.7163 49.502 56.6314 49.502C61.5465 49.502 65.5441 53.4995 65.5441 58.4146C65.5441 63.3297 61.5465 67.3273 56.6314 67.3273ZM56.6314 51.3205C52.7194 51.3205 49.5391 54.5026 49.5391 58.4128C49.5391 62.323 52.7212 65.5051 56.6314 65.5051C60.5416 65.5051 63.7237 62.323 63.7237 58.4128C63.7237 54.5026 60.5434 51.3205 56.6314 51.3205Z" fill="#F55F86"/>
<path d="M74.8833 80.0723C74.5684 80.0723 74.2625 79.9085 74.0951 79.6172L70.3505 73.133C70.0993 72.6979 70.2486 72.1409 70.6836 71.8897C71.1187 71.6384 71.6757 71.7877 71.927 72.2228L75.2164 77.9188L86.7213 71.2762L83.4319 65.5802C83.1807 65.1451 83.3299 64.588 83.765 64.3368C84.2001 64.0856 84.7571 64.2349 85.0083 64.67L88.7529 71.1542C88.873 71.3636 88.9058 71.6111 88.8439 71.8441C88.782 72.0772 88.6291 72.2756 88.4198 72.3975L75.3384 79.9504C75.1946 80.0323 75.038 80.0723 74.8833 80.0723Z" fill="#F55F86"/>
<path d="M53.6295 37.7408C53.3145 37.7408 53.0087 37.577 52.8394 37.2857L48.9638 30.5739C48.7126 30.1389 48.8618 29.5818 49.2969 29.3306L57.6016 24.5357C57.8109 24.4155 58.0585 24.3828 58.2915 24.4447C58.5245 24.5066 58.7229 24.6595 58.8449 24.8688L62.7205 31.5806C62.9717 32.0157 62.8225 32.5727 62.3874 32.824C61.9523 33.0752 61.3953 32.9259 61.1441 32.4908L57.7235 26.5673L50.9953 30.452L54.4159 36.3755C54.6671 36.8106 54.5178 37.3677 54.0827 37.6189C53.9407 37.7008 53.7842 37.7408 53.6295 37.7408Z" fill="#F55F86"/>
<path d="M86.5147 94.5932C86.0122 94.5932 85.6045 94.1855 85.6045 93.683V88.4112C85.6045 87.9087 86.0122 87.501 86.5147 87.501C87.0171 87.501 87.4249 87.9087 87.4249 88.4112V93.683C87.4249 94.1855 87.0171 94.5932 86.5147 94.5932ZM80.1524 94.5932C79.65 94.5932 79.2422 94.1855 79.2422 93.683V88.4112C79.2422 87.9087 79.65 87.501 80.1524 87.501C80.6548 87.501 81.0626 87.9087 81.0626 88.4112V93.683C81.0626 94.1855 80.6566 94.5932 80.1524 94.5932Z" fill="#F55F86"/>
<path d="M92.9868 89.3219H73.6797C73.1773 89.3219 72.7695 88.9141 72.7695 88.4117V84.2266C72.7695 83.7242 73.1773 83.3164 73.6797 83.3164H92.9868C93.4893 83.3164 93.897 83.7242 93.897 84.2266V88.4117C93.897 88.9141 93.4893 89.3219 92.9868 89.3219ZM74.5899 87.5015H92.0766V85.1368H74.5899V87.5015Z" fill="#F55F86"/>
<path d="M67.3307 75.1195C65.5158 75.1195 63.75 74.1784 62.7797 72.4981L59.1262 66.1704C58.8749 65.7354 59.0242 65.1783 59.4593 64.9271C59.8944 64.6759 60.4514 64.8252 60.7026 65.2602L64.3562 71.5879C65.3009 73.2227 67.3999 73.7852 69.0346 72.8422L85.4163 63.3852C87.051 62.4404 87.6135 60.3434 86.6706 58.7068L72.4169 34.0204C71.6123 32.6278 70.307 31.6284 68.7397 31.2097C67.1741 30.7892 65.5431 31.0022 64.1505 31.8068L52.3197 38.637C50.9271 39.4416 49.9277 40.7468 49.509 42.3142C49.0903 43.8815 49.3015 45.5108 50.1061 46.9034L52.7402 51.4671C52.9914 51.9022 52.8422 52.4592 52.4071 52.7104C51.972 52.9616 51.415 52.8124 51.1638 52.3773L48.5296 47.8136C47.4829 45.9986 47.2062 43.8779 47.7523 41.8427C48.2984 39.8056 49.5982 38.109 51.4113 37.0605L63.2421 30.2304C65.057 29.1836 67.176 28.9069 69.213 29.4512C71.25 29.9974 72.9466 31.2971 73.9952 33.1102L88.247 57.7948C89.6924 60.2997 88.8314 63.5127 86.3265 64.9599L69.9448 74.4168C69.1201 74.8938 68.2209 75.1195 67.3307 75.1195Z" fill="#F55F86"/>
<path d="M79.2796 58.6114C77.3937 58.6114 75.5569 57.6338 74.5466 55.8844L67.4835 43.6514C65.9798 41.0464 66.8755 37.7041 69.4804 36.2005L73.4161 33.9286C73.8512 33.6774 74.4083 33.8267 74.6595 34.2618C74.9107 34.6968 74.7614 35.2539 74.3263 35.5051L70.3906 37.7769C68.6558 38.7782 68.0587 41.0063 69.0599 42.7412L76.1231 54.9742C77.1243 56.7091 79.3525 57.3061 81.0873 56.3049L85.023 54.0331C85.4581 53.7819 86.0151 53.9311 86.2663 54.3662C86.5175 54.8013 86.3683 55.3583 85.9332 55.6095L81.9975 57.8814C81.1401 58.3765 80.2044 58.6114 79.2796 58.6114Z" fill="#F55F86"/>
</g>
<defs>
<clipPath id="clip0_16_4484">
<rect width="81.9178" height="81.9178" fill="white" transform="translate(24.041 24.4141)"/>
</clipPath>
</defs>
</svg>

</div>
<p>
   Triple-Tested For Purity, Quality & Accurate Dosage
</p></div></div>
  
      <style id="custom-css-gdWhYN7IXs">
        .gdWhYN7IXs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 16px;
  padding: 0 35px;
}

.gdWhYN7IXs svg {
    margin: 0 auto;
}

.gdWhYN7IXs p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
  max-width: 160px;
}

      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-568310918077744065 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/miralou-shop/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=567883725279331409&sectionId=568310918077744065)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg52EzUkW65_text","label":"gg52EzUkW65_text","default":"<p>Try Our Diet Friendly Supplement Today!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
