

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-568420649626764369.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-568420649626764369.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-568420649626764369.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-568420649626764369.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-568420649626764369.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-568420649626764369.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-568420649626764369.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-568420649626764369.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-568420649626764369.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-568420649626764369.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-568420649626764369.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-568420649626764369.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-568420649626764369.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-568420649626764369.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-568420649626764369.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-568420649626764369.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-568420649626764369.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-568420649626764369.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-568420649626764369.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-568420649626764369.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-568420649626764369.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-568420649626764369.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-568420649626764369.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-568420649626764369.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-568420649626764369.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-568420649626764369.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-568420649626764369.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-568420649626764369.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-568420649626764369.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-568420649626764369.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-568420649626764369.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-568420649626764369.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-568420649626764369.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-568420649626764369.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-568420649626764369.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-568420649626764369.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-568420649626764369.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-568420649626764369.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-568420649626764369.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-568420649626764369.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-568420649626764369.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-568420649626764369.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-568420649626764369.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-568420649626764369.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-568420649626764369.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-568420649626764369.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-568420649626764369.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-568420649626764369.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-568420649626764369 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-568420649626764369 .gp-relative{position:relative}.gps-568420649626764369 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-568420649626764369 .gp-mb-0{margin-bottom:0}.gps-568420649626764369 .gp-flex{display:flex}.gps-568420649626764369 .gp-grid{display:grid}.gps-568420649626764369 .gp-contents{display:contents}.gps-568420649626764369 .\!gp-hidden{display:none!important}.gps-568420649626764369 .gp-hidden{display:none}.gps-568420649626764369 .gp-h-auto{height:auto}.gps-568420649626764369 .gp-h-full{height:100%}.gps-568420649626764369 .gp-w-full{width:100%}.gps-568420649626764369 .gp-max-w-full{max-width:100%}.gps-568420649626764369 .gp-flex-none{flex:none}.gps-568420649626764369 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-568420649626764369 .gp-flex-col{flex-direction:column}.gps-568420649626764369 .gp-gap-y-0{row-gap:0}.gps-568420649626764369 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568420649626764369 .gp-duration-200{transition-duration:.2s}.gps-568420649626764369 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-568420649626764369 .tablet\:\!gp-hidden{display:none!important}.gps-568420649626764369 .tablet\:gp-hidden{display:none}.gps-568420649626764369 .tablet\:gp-h-auto{height:auto}.gps-568420649626764369 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-568420649626764369 .mobile\:\!gp-hidden{display:none!important}.gps-568420649626764369 .mobile\:gp-hidden{display:none}.gps-568420649626764369 .mobile\:gp-h-auto{height:auto}.gps-568420649626764369 .mobile\:gp-flex-none{flex:none}}.gps-568420649626764369 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-568420649626764369 .\[\&_p\]\:gp-inline p{display:inline}.gps-568420649626764369 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-568420649626764369 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gBgzcyl55-" data-id="gBgzcyl55-"
        style="--blockPadding:base;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBgzcyl55- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gpEsRkpAIz gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gvA3F2RLJ9" data-id="gvA3F2RLJ9"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvA3F2RLJ9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="go5JuSmSSr gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gKYX4CW-SY" data-id="gKYX4CW-SY"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKYX4CW-SY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gKRp5ASfn4 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gd5dHrLseR" data-id="gd5dHrLseR"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:70%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gd5dHrLseR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gymi6QunEy gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="grsP3dr_6P" data-id="grsP3dr_6P"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grsP3dr_6P gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJzJ9IYRpp gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gN_fGC6XXE">
    <div
      parentTag="Col"
        class="gN_fGC6XXE "
        style="--ta:left;--mb:16px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggN_fGC6XXE_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gN_fGC6XXE">
        .gN_fGC6XXE {

}
.gN_fGC6XXE p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-grsP3dr_6P">
        .grsP3dr_6P {
padding-top: 50px;
}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gMw_VKZzlS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gPecBFTU9M" data-id="gPecBFTU9M"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPecBFTU9M gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gXjiWxaWD7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gTafEChe3K"
    role="presentation"
    class="gp-group/image gTafEChe3K gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_567423217359127633-efe367ed-1d33-40b3-8691-48e7930dea5a.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_567423217359127633-efe367ed-1d33-40b3-8691-48e7930dea5a.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_567423217359127633-efe367ed-1d33-40b3-8691-48e7930dea5a.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:370/504;--aspect-tablet:370/504;--aspect-mobile:370/504;--objf:cover;--w:370px;--w-tablet:370px;--w-mobile:370px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gTafEChe3K">
        .gTafEChe3K {

}
.gTafEChe3K > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 16",
    "tag": "section",
    "class": "gps-568420649626764369 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/miralou-shop/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=567883725279331409&sectionId=568420649626764369)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggN_fGC6XXE_text","label":"ggN_fGC6XXE_text","default":"<p>Each bottle contains 24 servings (48 capsules). Simply take 2 capsules daily and enjoy almost instant benefits.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
